@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using StudyProject.Infra.Context.Identity
@using Microsoft.AspNetCore.Identity

@model StudyProject.Application.Identity.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutClear";
}

<div class="login-box">
    <div class="login-logo">
        <a asp-action="Index" asp-controller="Home"><b>STUDY</b>PROJECT</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form method="post">
            <div class="form-group has-feedback">
                <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input asp-for="RememberMe" type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
            <a href="#" class="btn btn-block btn-social btn-microsoft btn-flat">
                <i class="fab fa-microsoft"></i> Sign in using
                Microsoft
            </a>
            
        </div>
        <!-- /.social-auth-links -->
        <a asp-action="ForgotPassword">Forgot your password?</a><br>
        <a class="text-center" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


@await Html.PartialAsync("_ValidationScriptsPartial")
